body {
	background-color: #FFF;
    margin: 0;
    padding: 0;
    padding-top: 50px;
}
* {
	font-family: Arial;
}
.hidden {
    display: none !important;
}

.bold {
    font-weight: bold;
}

input[type=text],input[type=password], textarea {
    border: 1px solid #666;
    padding: 2px;
    font-size: 8pt;
}

table td.key {
    font-weight: bold;
}

.clear {
	clear: both;
}

#error {
	width: 100%;
	padding: 10px;
	border: 2px solid #F00;
	display: none;
	margin-bottom: 10px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    background-color: #FFF;
}

#wrapper-all {
    width: 100%;
}

.column {
	background-color: #F1F1F1;
	border: 1px solid #DEDEDE;
	color: #626C78;
}
.column > h2, .desc > h2 {
	color: #666;
	font-weight: normal;
	margin: 10px;
}
.column#left {
	float: left;
	margin-left: 10px;
	width: 48%;
}
.column#right {
	float: right;
	margin-right: 10px;
	width: 48%;
}

.deviceSelection, .properties, .desc, .favorites {
    padding: 10px 10px 0;
	margin: 4px;
	background-color: #FFF;
	border: 1px solid #DEDEDE;
}
.desc {
	display: none;
}
.desc > img {
	float: left;
	margin-top: 6px;
	margin-right: 10px;
}
.desc > h2 {
	margin-top: 6px;
	margin-right: 10px;
}
.desc > h2.right {
	float: left;
}
.properties {
	display: none;
	min-height: 70px;
	max-height: 500px;
}
div#filetable {
    height: 400px;
	overflow-y: auto;
    width: 100%;
}
table.files {
    width: 100%;
}

div.loading {
	position: relative;
	left: 0;
	top: 0;
	background-color: #FFF;
	opacity: 0.3;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
div.loading > img {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -25px;
	margin-top: -25px;
}

div#fileinfo {
    position: absolute;
    top: 20px;
    left: 50%;
    width: 800px;
    margin-left: -400px;
    border: 2px solid #666;
    background-color: #FFF;
    z-index: 999;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 4px #666;
}

#carpet {
	position: absolute;
	z-index: 888;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #FFF;
	opacity: 0.3;
}

#close {
	display: block;
	width: 16px;
	height: 16px;
	background-image: url('../images/icons/close.png');
	float: right;
	margin: 4px;
}
#loading-layer {
	position: absolute;
	z-index: 999;
	width: 160px;
	height: 80px;
	background-color: #EFEFEF;
	border: 1px solid #000;
	box-shadow: 0 0 10px 0 #000;
	border-radius: 4px;
	left: 50%;
	top: 50%;
    margin-left: -80px;
    margin-top: -50px;
    padding: 20px;
    font-size: 8pt;
    text-align: center;
}

td#time-current, td#time-all {
	font-size: 8pt;
}
td#time-all {
	text-align: right;
}

#slider-tooltip {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #FFF;
	border: 2px solid #000;
	font-size: 8pt;
	z-index: 999;
	display: none;
}
div#controls {
	background-color: #252525;
	border: 2px solid #000;
	color: #FFF;
	padding: 10px 10px 4px 10px;
	margin-bottom: 10px;
    box-shadow: 0 0 10px 0 #000;
}
div#controls .title {
    margin-bottom: 6px;
}
div#controls table {
	width: 100%;
	color: #FFF;
}
ul.buttons {
	list-style-type: none;
	float: left;
	margin: 0;
	padding: 0;
	margin-top: 8px;
}
ul.buttons li {
	float: left;
	margin: 0;
	padding: 0;
}
a.control {
	display: block;
	width: 50px;
	height: 50px;
}
a.control:hover {
	background-position: 0 100px;
}
a.control.disabled {
	cursor: default;
	background-position: 0 50px;
}
a.control#pause {
	background-image: url('../images/icons/control/pause.png');
}
a.control#play {
	background-image: url('../images/icons/control/play.png');
}
a.control#stop {
	background-image: url('../images/icons/control/stop.png');
}
a.control#previous {
	background-image: url('../images/icons/control/previous.png');
}
a.control#next {
	background-image: url('../images/icons/control/next.png');
}
#player-loading {
	display: none;
	margin-right: 4px;
}
#container-play-image {
	float: left;
	width: 200px;
	min-height: 200px;
	line-height: 200px;
	text-align: center;
	border: 2px solid #000;
	margin-right: 10px;
}

div#navbar {
    margin-bottom: 16px;
}
ul#breadcrumps {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-collapse: collapse;
    float: left;
    border: 1px solid #000;
    box-shadow: 0 0 10px 0 #000;
}
ul#breadcrumps li {
    float: left;
}
ul#breadcrumps a {
    display: block;
    padding: 4px 10px;
    color: #000;
    font-size: 8pt;
    text-decoration: none;
    color: #FFF;
}
ul#breadcrumps a:hover {
    text-decoration: underline;
}
ul#breadcrumps a.active, ul#breadcrumps a.active:hover {
    font-weight: bold;
    border-right: 1px solid #666;
    text-decoration: none;
}
div#search {
    width: 100%;
    margin-bottom: 10px;
}

a#favorite {
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background-image: url('../images/icons/star.png');
    background-position: 0 16px;
}
a#favorite.active {
    background-position: 0 0;
}
#favorites {
    display: none;
}
div.filerow {
    background-color: #F1F1F1;
    border: 1px solid #DEDEDE;
    border-radius: 2px;
    margin: 3px 4px 4px;
    padding: 10px 6px;
    height: 16px;
    box-shadow: 0 0 2px #000;
}
div.filerow:hover {
    box-shadow: 0 0 4px #000;
}
div.filerow div.mime {
    float: left;
    width: 16px;
    margin-right: 4px;
}
div.filerow a {
    float: left;
    text-decoration: none;
    color: #666;
}
div.filerow .right {
    float: right;
}

div#playlist {
    background-color: #FFF;
    display: none;
    margin-top: 4px;
    padding: 2px;
    border: 2px solid #000;
}
div#playlist table {
    width: 100%;
    color: #000;
    background-color: #F1F1F1;
    border-collapse: collapse;
    font-size: 10pt;
    margin: 2px;
    margin-bottom: 0;
}
div#playlist table td {
    padding: 2px 4px;
}
div#playlist table tr:hover {
    background-color: #FFF;
    font-style: italic;
}
div#playlist table tr.active td {
    font-weight: bold;
}

#mainnav {
    position: absolute;
    top: 0;
    right: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    background-color: #FFF;
    border-style: solid;
    border-color: #666;
    border-width: 0;
    padding: 2px 0 2px 10px;
    border-radius: 0 0 0 6px;
    box-shadow: 0 0 10px 2px #666;
}
#mainnav li {
    float: left;
    margin-right: 10px;
}
#mainnav a {
    color: #666;
    text-decoration: none;
    font-size: 10pt;
}
#mainnav a.active {
    color: #000;
}

label {
    float: left;
    margin-top: 4px;
    margin-right: 4px;    
}
.icon-search {
    background-position: -48px 0 !important;
}
.navbar-inner, #breadcrumps {
    background: #4c4c4c; /* Old browsers */
    background: -moz-linear-gradient(top, #4c4c4c 0%, #131313 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(100%,#131313)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4c4c4c 0%,#131313 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4c4c4c 0%,#131313 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #4c4c4c 0%,#131313 100%); /* IE10+ */
    background: linear-gradient(to bottom, #4c4c4c 0%,#131313 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
    border-bottom-color: #000;
}
.navbar {
    box-shadow: 0 0 10px 4px #666;
}
.navbar-inner > div.container {
    width: 100%;
}
.navbar .nav > li > a {
    color: #7a7a7a;
    text-shadow: 0 1px 0 #000;
}
.navbar .nav > li > a:hover, .navbar .nav > li > a.active {
    color: #FFF;
}
ul.optgroup {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul.optgroup li {
    clear: both;
}
ul.optgroup input {
    float: left;
}
ul.optgroup label {
    margin-left: 4px;
}
.table-config {
    border: 1px solid #ddd;
    border-collapse: collapse;
    width: 500px;
}
#clock {
    color: #FFF;
    float: right;
    margin: 10px;
    text-shadow: 0 1px 0 #000;
    font-size: 10pt;
}
input.error {
    border-color: #F00;
}
div.error {
    color: #F00;
}
div.error.small {
    font-size: 10pt;
}
div.flash {
    width: 100%;
    padding: 10px;
    border: 1px solid #0F0;
    margin-bottom: 10px;
}
